# Pasture & Paw Booking Form Delivery (Option 1: Web3Forms / Formspree)
# Destination: mak@pasturepaw.com
# To get your free Web3Forms access key, go to https://web3forms.com,
# enter mak@pasturepaw.com, and paste the received key below:
VITE_WEB3FORMS_ACCESS_KEY=

# Alternatively, if using Formspree:
# VITE_FORMSPREE_ENDPOINT=https://formspree.io/f/your_form_id
